@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 480px) and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

.cta {
  width: 100%;
  background-color: #e83a3a;
  padding: 50px 200px;
  display: flex;
  justify-content: center;

  .right {
    h1 {
      color: #ffffff;
    }
    p {
      color: #ffffff;
    }
    .radio .radioBtn label {
      color: #ffffff;
    }
    .input {
      button {
        background-color: #ffffff;
        color: #e83a3a;
        font-weight: bold;
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
    span {
      color: #ffffff;
    }
  }
}
