@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

// Colores definidos por el usuario
$color1-hex: #ff5050;
$color1-rgb: rgba(255, 80, 80);

$color2-hex: #f43c3c;
$color2-rgb: rgba(244, 60, 60);

$color3-hex: #ffffff;
$color3-rgb: rgba(255, 255, 255);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color3-hex;
  color: #333;
  font-family: 'Poppins', sans-serif;
}
