@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

$mamays-red: #e83a3a;
$mamays-white: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $mamays-red;
  color: $mamays-white;
  font-family: 'Poppins', sans-serif;
}
